@font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light'), url('../font/ITCAvantGardeStdXLt.woff') format('woff');
    }

    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light Condensed'), url('../font/ITCAvantGardeStdXLtCn.woff') format('woff');
    }

    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light Condensed Oblique'), url('../font/ITCAvantGardeStdXLtCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light Oblique'), url('../font/ITCAvantGardeStdXLtObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book'), url('../font/../font/ITCAvantGardeStdBk.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book Condensed'), url('../font/../font/ITCAvantGardeStdBkCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book Condensed Oblique'), url('../font/ITCAvantGardeStdBkCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book Oblique'), url('../font/ITCAvantGardeStdBkObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium'), url('../font/ITCAvantGardeStdMd.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium Condensed'), url('../font/ITCAvantGardeStdMdCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium Condensed Oblique'), url('../font/ITCAvantGardeStdMdCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium Oblique'), url('../font/ITCAvantGardeStdMdObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi'), url('../font/ITCAvantGardeStdDemi.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi Condensed'), url('../font/ITCAvantGardeStdDemiCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi Condensed Oblique'), url('../font/ITCAvantGardeStdDemiCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi Oblique'), url('../font/ITCAvantGardeStdDemiObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold'), url('../font/ITCAvantGardeStdBold.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold Condensed'), url('../font/ITCAvantGardeStdBoldCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold Condensed Oblique'), url('../font/ITCAvantGardeStdBoldCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold Oblique'), url('../font/ITCAvantGardeStdBoldObl.woff') format('woff');
    }

	@font-face {
    font-family: 'HerrVonMuellerhoff-Regular';
	font-style: normal;
    font-weight: normal;
    src:  url('../font/HerrVonMuellerhoff-Regular.ttf');
	}

	@font-face {
    font-family: 'MrDeHaviland-Regular';
    src: url('../font/MrDeHaviland-Regular.ttf');
	}

	@font-face {
    font-family: 'Morning Glory';
    src: url('../font/Morning Glory.ttf');
	}

    .wrapper, .content-wrapper{
        background-color: transparent;
    }

    .btn-start{
        font-family: 'ITC Avant Garde Gothic Std Medium';
        color: whitesmoke;
        border-radius: 15px;
        font-size: 24px;
        background-color: #233746;
    }
    .btn-start:hover{
        font-family: 'ITC Avant Garde Gothic Std Medium';
        color: #FFB11C;
        border-radius: 15px;
        font-size: 24px;
        background-color: #233746;
    }

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .img-container{
        background-size: cover;
    }

    #img-ass{
        position: fixed;
        top:20%;left:40%;
        max-width: 40%;
    }

    #img-logo{
        position: fixed;
        bottom:1%; right: 1%;
        max-width: 10%;
    }

    .btn-start{
        position: fixed;
        top:45%; left: 63%;
        padding: 20px;
    }

  }

  @media (min-width: 1281px) and (orientation: landscape) {


    #img-ass{
        position: fixed;
        top:15%;left:45%;
        max-width: 45%;
    }

    #img-logo{
        position: fixed;
        bottom:1%; right: 1%;
        max-width: 7%;
    }

    .btn-start{
        position: fixed;
        top:45%; left: 63%;
        padding: 20px;
    }

  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {


    #img-ass{
        position: fixed;
        top:15%;left:40%;
        max-width: 50%;
    }

    #img-logo{
        position: fixed;
        bottom:1%; right: 1%;
        max-width: 7%;
    }

    .btn-start{
        position: fixed;
        top:45%; left: 63%;
        padding: 20px;
    }
  }

  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {

    body{
        background-color: #FFB11C;
        width: max-content;
        background-image: none;
    }

    #img-ass{
        position: fixed;
        top:25%; left: 10%;
        max-width: 80%;
    }

    #img-logo{
        position: fixed;
        bottom:1%; right: 1%;
        max-width: 10%;
    }
    .btn-start{
        position: fixed;
        top:45%; left: 36%;
        padding: 20px;
    }
}

  /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    #img-ass{
        position: fixed;
        top:15%; left: 45%;
        max-width: 50%;
    }

    #img-logo{
        position: fixed;
        bottom:1%; right: 1%;
        max-width: 10%;
    }

    .btn-start{
        position: fixed;
        top:45%; left: 58%;
        padding: 10px;
    }

  }

  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media  (max-width: 699px) {

    body{
        width: max-content;
        background-color: #FFB11C
    }

    #img-ass{
        position: fixed;
        top:20%; left: 5%;
        max-width: 92%;
    }

    #img-logo{
        position: fixed;
        bottom:1%; right: 1%;
        max-width: 15%;
    }

    .btn-start{
        position: fixed;
        top:45%; left: 18%;
        padding: 2px;
    }

    .img-container .group-title{
        text-align: center;
        font-family: 'HerrVonMuellerhoff-Regular';
    }

    .group-title span{
        font-size: 154px;
        font-weight: bold;
    }

    .card.foundation{
        border-radius: 15%;
        width: 300px;
        background-color: transparent;
    }
  }

  @media only screen and (min-width: 700px) {
    .img-container{
            width: 100%;
            background-position: left top;
            background-repeat: no-repeat;
    }

    .img-container{
        height: 450px;
        background-image: url(../imagem/group.png);
        zoom: 1.2;
    }

    .img-container .img-title{
        position: absolute;
        left: 90%; top: 35%;
        transform: translate(-90%, -35%);
        width: 33%; height: auto;
        font-family: 'HerrVonMuellerhoff-Regular';
    }

    .img-container .group-title{
        position: absolute;
        left: 90%; top: 10%;
        transform: translate(-90%, -10%);
        width: 33%; height: auto;
        font-family: 'HerrVonMuellerhoff-Regular';
    }

    .img-title span{
        font-size: 154px;
        font-weight: bold;
    }

    .group-title span{
        font-size: 154px;
        font-weight: bold;
    }

    .card.history{
        border-radius: 10%;
        background-color: transparent;
    }

    .card.contact{
        border-radius: 10%;
        background-color: transparent;
    }

    .card.foundation{
        border-radius: 15%;
        margin-top: -70px;
        background-color: transparent;
    }

}


