@font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light'), url('../font/ITCAvantGardeStdXLt.woff') format('woff');
    }

    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light Condensed'), url('../font/ITCAvantGardeStdXLtCn.woff') format('woff');
    }

    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light Condensed Oblique'), url('../font/ITCAvantGardeStdXLtCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light Oblique'), url('../font/ITCAvantGardeStdXLtObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book'), url('../font/../font/ITCAvantGardeStdBk.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book Condensed'), url('../font/../font/ITCAvantGardeStdBkCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book Condensed Oblique'), url('../font/ITCAvantGardeStdBkCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Book Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book Oblique'), url('../font/ITCAvantGardeStdBkObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium'), url('../font/ITCAvantGardeStdMd.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium Condensed'), url('../font/ITCAvantGardeStdMdCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium Condensed Oblique'), url('../font/ITCAvantGardeStdMdCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium Oblique'), url('../font/ITCAvantGardeStdMdObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi'), url('../font/ITCAvantGardeStdDemi.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi Condensed'), url('../font/ITCAvantGardeStdDemiCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi Condensed Oblique'), url('../font/ITCAvantGardeStdDemiCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi Oblique'), url('../font/ITCAvantGardeStdDemiObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold'), url('../font/ITCAvantGardeStdBold.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold Condensed'), url('../font/ITCAvantGardeStdBoldCn.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold Condensed Oblique'), url('../font/ITCAvantGardeStdBoldCnObl.woff') format('woff');
    }


    @font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold Oblique'), url('../font/ITCAvantGardeStdBoldObl.woff') format('woff');
    }

	@font-face {
    font-family: 'HerrVonMuellerhoff-Regular';
	font-style: normal;
    font-weight: normal;
    src:  url('../font/HerrVonMuellerhoff-Regular.ttf');
	}

	@font-face {
    font-family: 'MrDeHaviland-Regular';
    src: url('../font/MrDeHaviland-Regular.ttf');
	}

	@font-face {
    font-family: 'Morning Glory';
    src: url('../font/Morning Glory.ttf');
	}

.brand-link{
    padding: 0px;
}

.brand-text{
    margin-left: 8px;
    font-family: 'HerrVonMuellerhoff-Regular';
}

body.sidebar-collapse > .brand-link{
    width: 1000px !important;
}

.btn-custom{
    border-radius: 5px;
    border: 1px solid rgba(254,184,28,0.8);
    color: rgba(254,184,28,0.8);
    background-color: #007bff;
}
.btn-custom:hover{
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: rgba(254,184,28,0.8);
    color: #007bff;
}

.btn-custom i{
    margin-right:1px ;
}

.card-la.card-outline{
    border-top: 3px solid rgba(254,184,28,0.8);;
}
