.content-wrapper{
    margin-left: 0px !important;
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px)) !important;
}

footer{
    margin-left: 0px !important;
}
@font-face {
    font-family: rabisco;
    src: url(../font/HerrVonMuellerhoff-Regular.ttf);
}

.brand-link{
    padding: 0px;
}

.brand-text{
    margin-left: 8px;
    font-family: rabisco;
}

.brand-texto{
    margin-left: 500px;
    margin-right: 100px;
    font-size: medium;
    font-family: verdana;
    font-weight: normal;
}

.brand-titulo{
    margin-left: 400px;
    font-size: 40px;
    font-family: brush script mt;
    font-weight: bolder;
}

.brand-page{
    height: 609px;
}

.brand-img{
    background: url('../imagem/luiza.jpg');
    background-position: left;
    background-repeat: no-repeat;
}


